@import "../../styles/mediaQueries";

.header-wrapper {
	position: sticky;
	z-index: 100;
	top: 0;
	width: 100vw;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-inline: auto;
	padding-block: 25px;
	padding-inline: 20px 100px;
	max-width: var(--desktop--max-width);
	min-height: 103px;
}

.header-contact-banner {
	display: flex;
	grid-gap: 30px;
	justify-content: flex-end;
	flex-basis: 100%;
	margin-inline: auto;
	padding-inline: var(--xs-padding);
	max-width: var(--desktop--max-width);
	width: 100%;
	font-size: 13px;
	font-weight: 600;
	background-color: var(--light-beige);
}

//for mobile and tablet
.for-mobile-and-tablet-portrait({
	header {
		padding: 10px var(--xs-padding);
		min-height: unset;
	}
	
	.header-contact-banner {
		justify-content: space-between;
	}
});